{% load static %}

<!-- About Section -->
<section id="about" class="about section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="container section-title" data-aos="fade-up">
        <h2>Crafting Your Digital Future</h2>
        <p>Innovative Web Solutions</p>
        </div>
        <img
          src="{% static 'img/about.png' %}"
          class="img-fluid rounded-4 mb-4"
          alt=""
        />
        <p>
          At Jaala, we believe in building more than just websites – we engineer
          powerful digital experiences designed for growth, innovation, and
          lasting impact. As a dynamic web development agency, we partner with
          ambitious brands to transform their vision into a robust,
          high-performing online reality.
        </p>
        <p>
          Our Philosophy: Solution by Design Our approach is rooted in strategic
          thinking. We don't just execute; we collaborate, understand, and then
          design solutions that directly address your business objectives. Every
          line of code, every design element, and every strategic decision is
          made with your success in mind. It’s about creating intelligent
          solutions that don’t just look good, but perform exceptionally.
        </p>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">Our Commitment: PLAN. LAUNCH. GROW.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >PLAN: We start with in-depth strategic planning, understanding
                your brand, audience, and market to lay a solid foundation for
                success.</span
              >
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >LAUNCH: Our expert team meticulously designs, develops, and
                deploys your digital platform, ensuring a seamless and impactful
                debut.</span
              >
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span
                >GROW: Our partnership extends beyond launch. We provide ongoing
                support, data-driven optimization, and continuous innovation to
                ensure your online presence achieves sustained growth and adapts
                to future challenges.
              </span>
            </li>
          </ul>
          <p>
            Let's Build Something Exceptional At Jaala, your digital ambition is
            our blueprint. We are passionate about innovation, dedicated to
            excellence, and committed to being a key partner in your long-term
            success. Discover the difference that strategic design and expert
            development can make.
          </p>

          <div class="position-relative mt-4">
            <img
              src="{% static 'img/about-2.jpg' %}"
              class="img-fluid rounded-4"
              alt=""
            />
            <a
              href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
              class="glightbox pulsating-play-btn"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
<!-- /About Section -->
