{% load static %}

<!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Featured Srvices<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5">
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'img/services-1.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-shop-window"></i> 

              </div> 
           
              <a href="service-details.html" class="stretched-link">
                <h3>Shopify Theme Customiztion</h3>
              </a>
              <p>
              We design, build and launch both bespoke and template themes to help Shopify & Shopify Plus stores deliver a truly unique and powerful shopping user experience for our clients.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{%static '/img/services-2.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
               <i class="bi bi-duffle"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Shopify Migrations</h3>
              </a>
              <p>
                Jaala is a trusted and experienced Shopify migration agency. We support our merchants to migrate or re-platform to Shopify or Shopify Plus seamlessly.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'img/services-3.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-code-square"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Web Development</h3>
              </a>
              <p>
                Custom Django and e-commerce solutions that merge strategic design with high-performance technology.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
