{% load static %}

<!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Featured Srvices<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5">
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'img/services-1.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-shop-window"></i> 

              </div>

              <a href="{% url 'index' %}#contact" class="stretched-link">
                <h3>Shopify Custom Store Development</h3>
              </a>
              <p>
              From concept to conversion — fully custom <b>Shopify</b> experiences.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{%static '/img/services-2.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
               <i class="bi bi-duffle"></i>
              </div>
              <a href="{% url 'index' %}#contact" class="stretched-link">
                <h3>Shopify Theme Customization</h3>
              </a>
              <p>
                Modify, optimize, and enhance any <b>Shopify</b> theme to fit your brand.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'img/services-3.jpg'%}" class="img-fluid" alt="" />
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-code-square"></i>
              </div>
              <a href="{% url 'index' %}#contact" class="stretched-link">
                <h3>Django Web Development</h3>
              </a>
              <p>
                Powerful, scalable web applications built with <b>Django</b> and <b>Python</b>.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
