{% load static%}

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section dark-background">
  <img
    src="{% static '/img/testimonials-bg.jpg'%}"
    class="testimonials-bg"
    alt=""
  />

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          }
        }
      </script>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static '/img/testimonials/testimonials-1.jpg'%}"
              class="testimonial-img"
              alt=""
            />
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Jaala are an amazing team who instantly understood the brand,
                the requirements, our customer base, and where our eCommerce
                platform needed to be. We continue to trust their judgement,
                expertise and knowledge as a key partner.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static '/img/testimonials/testimonials-2.jpg'%}"
              class="testimonial-img"
              alt=""
            />
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>
                Working with Jaala Agency was an absolute dream, we really felt
                they had the time for us and the whole project was seamless
                start to finish.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static '/img/testimonials/testimonials-3.jpg'%}"
              class="testimonial-img"
              alt=""
            />
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Jaala isn't just a vendor; they're an exceptional team that
                instantly aligned with our brand vision, customer needs, and
                eCommerce goals. We trust their unparalleled expertise and
                ongoing guidance to drive our platform's continued
                success.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- End testimonial item -->
        {% comment %}
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{%static '/img/testimonials/testimonials-4.jpg'%}"
              class="testimonial-img"
              alt=""
            />
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static '/img/testimonials/testimonials-5.jpg'%}"
              class="testimonial-img"
              alt=""
            />
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- End testimonial item -->
        {% endcomment %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- /Testimonials Section -->
