{% extends 'base.html' %}
 {% load static %}
 {% block content %}
<main class="main" id="index">
  <!-- Hero section -->
  {% include 'includes/hero.html'%}
  <!-- End hero section -->
  <!-- stats section -->
  {% include 'includes/stats.html'%}
  <!-- end stats section-->

  <!-- services section -->
  {% include 'includes/services.html' %}
  <!-- end services section -->
  <!-- Clients section -->
  {% include 'includes/clients.html' %}
  <!-- end Clients section -->

  <!-- Testimonials section -->
  {% include 'includes/testimonials.html' %}
  <!-- end Testimonials section -->

  {% comment %}
  <!-- Portfolio section -->
  {% include 'includes/portfolio.html' %}
  <!-- end Portfolio section -->
  {% endcomment %}

 
  <!-- about section -->
  {% include 'includes/about.html'%}
  <!-- end about section -->
 <!-- includes/blogs.html section -->
  {% include 'includes/blogs.html'%}
  <!-- end blogs section -->
  <!-- contact section -->
  {% include 'includes/contact.html'%}
  <!-- end contact section -->
   
</main>

{% endblock content %}
